/* 
*  styles.css TABLE OF CONTENTS
*   
*  1.0 - Header & Body
*  2.0 - Navbar
*  3.0 - Sliding In Animation
*  4.0 - Cloud Animation
*  5.0 - Saw Animation
*  6.0 - Images
*  7.0 - Footer
*
*/


/*** 1.0 - Header & Body ***/


/* Style for main html */

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Style for the main body */

body {
    background-color: #8cecfa;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}


/* Style for the main header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    width: 100%;
}


/*** 2.0 - Navbar ***/


/* Styling for the navbar */

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    transition: 0.5s;
    z-index: 1;
}


/* Styling for navbar text */

.navbar a.one {
    float: left;
    font-size: 3.2vw;
    color: white;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-family: Georgia, serif;
}


/* Styling for navbar bomb logo picture */

.navbar a.two {
    float: left;
    font-size: 3.2vw;
    color: white;
    text-align: left;
    text-decoration: none;
}


/* Styling for subnav */

.subnav {
    float: left;
    overflow: hidden;
}


/* Styling for subnav text that pops up when hovered */

.subnav .subnavbtn {
    border: none;
    outline: none;
    color: white;
    padding: 1vw 2vw;
    padding-top: 2vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: Georgia, serif;
}


/* Styling for hovering on subnav text */

.navbar a.one:hover,
.subnav:hover .subnavbtn {
    background-color: rgb(175, 26, 26);
}


/* Styling for hovering on subnav bomb logo picture */

.navbar a.two:hover,
.subnav:hover .subnavbtn {
    background-color: rgb(175, 26, 26);
}


/* Styling for main subnav */

.subnav-content {
    display: none;
    position: absolute;
    background-color: rgb(175, 26, 26);
    z-index: 1;
    margin: 0;
}


/* Styling for main subnav */

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}


/* Styling for subnav hover on text */

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}


/* Styling for subnav hover */

.subnav:hover .subnav-content {
    display: block;
}


/*** 3.0 - Sliding In Animation  ***/


/* Styling for sliding divs that will animate */

.slides {
    position: relative;
    visibility: hidden;
}


/* Styling for the divs that begin animation when on screen, includes animations for different broswer supports  */

.slides_active {
    position: relative;
    visibility: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Animation styling for safari support */
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: SlideIn;
    -webkit-animation-iteration-count: initial;
    /* Animation styling for firefox support */
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: linear;
    -moz-animation-name: SlideIn;
    -moz-animation-iteration-count: initial;
    /* Animation styling for edge support */
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: linear;
    -ms-animation-name: SlideIn;
    -ms-animation-iteration-count: initial;
    /* Animation styling for opera support */
    -o-animation-duration: .5s;
    -o-animation-timing-function: linear;
    -o-animation-name: SlideIn;
    -o-animation-iteration-count: initial;
    /* Animation styling for general support */
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-name: SlideIn;
    animation-iteration-count: initial;
}


/* Keyframe for safari support */

@-webkit-keyframes SlideIn {
    from {
        -webkit-transform: translateY(5%);
        -webkit-opacity: 0;
    }
    to {
        -webkit-transform: translateY(body);
        -webkit-opacity: 1;
    }
}


/* Keyframe for firefox support */

@-moz-keyframes SlideIn {
    from {
        -moz-transform: translateY(5%);
        -moz-opacity: 0;
    }
    to {
        -moz-transform: translateY(0%);
        -moz-opacity: 1;
    }
}


/* Keyframe for edge support */

@-ms-keyframes SlideIn {
    from {
        -ms-transform: translateY(5%);
        -ms-opacity: 0;
    }
    to {
        -ms-transform: translateY(0%);
        -ms-opacity: 1;
    }
}


/* Keyframe for opera support */

@-o-keyframes SlideIn {
    from {
        -o-transform: translateY(5%);
        -o-opacity: 0;
    }
    to {
        -o-transform: translateY(0%);
        -o-opacity: 1;
    }
}


/* Keyframe for general support */

@keyframes SlideIn {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


/*** 4.0 - Cloud Animation  ***/


/* Styling for cloud, includes animations for different broswer supports */

.cloud {
    position: absolute;
    margin-left: 10%;
    z-index: 1;
    /* Animation styling for safari support */
    -webkit-animation-duration: 20s;
    -webkit-animation-name: Swing;
    -webkit-animation-iteration-count: infinite;
    /* Animation styling for firefox support */
    -moz-animation-duration: 20s;
    -moz-animation-name: Swing;
    -moz-animation-iteration-count: infinite;
    /* Animation styling for edge support */
    -ms-animation-duration: 20s;
    -ms-animation-name: Swing;
    -ms-animation-iteration-count: infinite;
    /* Animation styling for opera support */
    -o-animation-duration: 20s;
    -o-animation-name: Swing;
    -o-animation-iteration-count: infinite;
    /* Animation styling for general support */
    animation-duration: 20s;
    animation-name: Swing;
    animation-iteration-count: infinite;
}


/* Keyframe for safari support */

@-webkit-keyframes Swing {
    from {
        -webkit-transform: translateY(0) translateX(0);
    }
    25% {
        -webkit-transform: translateY(-10%) translateX(-10%);
    }
    50% {
        -webkit-transform: translateY(8%) translateX(-10%);
    }
    75% {
        -webkit-transform: translateY(10%) translateX(10%);
    }
    to {
        -webkit-transform: translateY(0) translateX(0);
    }
}


/* Keyframe for firefox support */

@-moz-keyframes Swing {
    from {
        -moz-transform: translateY(0) translateX(0);
    }
    25% {
        -moz-transform: translateY(-10%) translateX(-10%);
    }
    50% {
        -moz-transform: translateY(8%) translateX(-10%);
    }
    75% {
        -moz-transform: translateY(10%) translateX(10%);
    }
    to {
        -moz-transform: translateY(0) translateX(0);
    }
}


/* Keyframe for edge support */

@-ms-keyframes Swing {
    from {
        -ms-transform: translateY(0) translateX(0);
    }
    25% {
        -ms-transform: translateY(-10%) translateX(-10%);
    }
    50% {
        -ms-transform: translateY(8%) translateX(-10%);
    }
    75% {
        -ms-transform: translateY(10%) translateX(10%);
    }
    to {
        -ms-transform: translateY(0) translateX(0);
    }
}


/* Keyframe for opera support */

@-o-keyframes Swing {
    from {
        -o-transform: translateY(0) translateX(0);
    }
    25% {
        -o-transform: translateY(-10%) translateX(-10%);
    }
    50% {
        -o-transform: translateY(8%) translateX(-10%);
    }
    75% {
        -o-transform: translateY(10%) translateX(10%);
    }
    to {
        -o-transform: translateY(0) translateX(0);
    }
}


/* Keyframe for general support */

@keyframes Swing {
    from {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-10%) translateX(-10%);
    }
    50% {
        transform: translateY(8%) translateX(-10%);
    }
    75% {
        transform: translateY(10%) translateX(10%);
    }
    to {
        transform: translateY(0) translateX(0);
    }
}


/*** 5.0 - Saw Animation  ***/


/* Styling for saw, includes animations for different broswer supports */

.saw {
    position: absolute;
    margin-left: 10%;
    z-index: 1;
    /* Animation styling for safari support */
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: MoveUpDown;
    -webkit-animation-iteration-count: infinite;
    /* Animation styling for firefox support */
    -moz-animation-duration: 8s;
    -moz-animation-timing-function: linear;
    -moz-animation-name: MoveUpDown;
    -moz-animation-iteration-count: infinite;
    /* Animation styling for edge support */
    -ms-animation-duration: 8s;
    -ms-animation-timing-function: linear;
    -ms-animation-name: MoveUpDown;
    -ms-animation-iteration-count: infinite;
    /* Animation styling for opera support */
    -o-animation-duration: 8s;
    -o-animation-timing-function: linear;
    -o-animation-name: MoveUpDown;
    -o-animation-iteration-count: infinite;
    /* Animation styling for general support */
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-name: MoveUpDown;
    animation-iteration-count: infinite;
}


/* Keyframe for safari support */

@-webkit-keyframes MoveUpDown {
    from {
        -webkit-transform: translateY(0) rotate(0deg);
        -webkit-opacity: 1;
    }
    to {
        -webkit-transform: translateY(body) rotate(720deg);
        -webkit-opacity: 1;
    }
}


/* Keyframe for firefox support */

@-moz-keyframes MoveUpDown {
    from {
        -moz-transform: translateY(0) rotate(0deg);
        -moz-opacity: 1;
    }
    to {
        -moz-transform: translateY(4000%) rotate(720deg);
        -moz-opacity: 1;
    }
}


/* Keyframe for edge support */

@-ms-keyframes MoveUpDown {
    from {
        -ms-transform: translateY(0) rotate(0deg);
        -ms-opacity: 1;
    }
    to {
        -ms-transform: translateY(4000%) rotate(720deg);
        -ms-opacity: 1;
    }
}


/* Keyframe for opera support */

@-o-keyframes MoveUpDown {
    from {
        -o-transform: translateY(0) rotate(0deg);
        -o-opacity: 1;
    }
    to {
        -o-transform: translateY(4000%) rotate(720deg);
        -o-opacity: 1;
    }
}


/* Keyframe for general support */

@keyframes MoveUpDown {
    from {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(4000%) rotate(720deg);
        opacity: 1;
    }
}


/*** 6.0 - Images  ***/


/* Styling for images to be centered */

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Style for two dodgy images to be centered together */

.square {
    width: 40%;
    text-align: left;
    /* border: 1px solid gray; */
    display: inline-block;
}


/* Container style for div for two dodgy images */

.container {
    text-align: center;
    width: 100%;
    /* border: 1px solid black; */
    max-height: 40%;
}


/* Styling for div holding iframe */

.vid_hold {
    height: auto;
    margin-right: 25%;
    margin-left: 25%;
}


/* Styling for iframe to stay correct dimensions while dynamically changing size  */

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.25%;
    z-index: 0;
}


/*** 7.0 - Footer  ***/


/* Styling for footer */

.container_footer {
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #333;
}